$primary: #2433ab;
$baseColor: #ddddf7;
$baseColor2: #586abb;

$grey100: #edf2ff;
$grey200: #dce4ff;
$grey300: #cad7ff;
$grey400: #b9c9ff;
$grey500: #a7bcff;
$grey600: #8696cc;
$grey700: #647199;
$grey800: #434b66;
$grey900: #212633;

$indigo100: #dee1f1;
$indigo200: #bcc3e4;
$indigo300: #9ba6d6;
$indigo400: #7988c9;
$indigo500: #586abb;
$indigo600: #465596;
$indigo700: #354070;
$indigo800: #232a4b;
$indigo900: #121525;

$buttonColor: #a7bcff;
$windowHeaderColor: #5d5b8d;
$formWrapperBg: #fff;
$white: #fff;
$formError: red;
