@import "./partials/colors";

.blankWindow {
  flex: 1;
  background-color: whitesmoke;
  padding: 10px;
  height: calc(100% - 160px);
  overflow: scroll;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  h1 {
    text-transform: capitalize;
    text-align: center;
  }
  h2 {
    color: rgba(40, 16, 105, 0.506);
  }
}
