.chatWindow {
  flex: 2;

  display: flex;
  flex-direction: column;

  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: visible;
  ::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge add Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }
}
