@import "./partials/colors";

.chatHeader {
  height: 4rem;
  background-color: $windowHeaderColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: $baseColor;
  text-transform: capitalize;
}

.chatIcons {
  display: flex;
  gap: 10px;

  img {
    height: 24px;
    cursor: pointer;
  }
}
