@import "./partials/colors";
.formContainer {
  background-color: $baseColor2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: $formWrapperBg;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 22.5rem;

    .formError {
      color: $formError;
      font-size: 0.7rem;
      font-weight: 500;
    }
    .logo {
      color: $windowHeaderColor;
      font-weight: bold;
      font-size: 24px;
    }

    .title {
      color: $windowHeaderColor;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid $baseColor2;
        &::placeholder {
          color: $baseColor2;
        }
      }

      button {
        background-color: $baseColor2;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $baseColor2;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }
    p {
      color: $baseColor2;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
